#
# Copyright (c) 2023 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

config XIP_SPLIT_IMAGE
	bool "Split XIP image"
	depends on SOC_NRF5340_CPUAPP
	depends on !MCUBOOT
	help
	  Allows for an image to be split into 2 parts where there is code executing from internal
	  flash and code from QSPI via XIP. Requires specific project setup for projects to use
	  this feature.
